* {
  box-sizing: border-box;
}

html,
body {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

header {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #eee;
}
header a {
  display: block;
  padding: 1rem 1.5rem;
  color: darkslategray;
  text-decoration: none;
}
.active {
  text-decoration: underline;
}
